* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}




/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}




/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}



/*Body style for all screens */
body {
	background-color:#F5CF8E;
}



a {
	text-decoration:none;
}


/* links change to white if hoved over*/
a:hover {
	color: #FFFFFF; /* White */

}



li {
	float:left;
}


/* Web site title Sytle (Kate Photography*/
#title {
	font: "Fira Sans", serif;
	font-size: 80px;
	color: #000000;
	justify-content: flex-start;
	margin-right: 90px;
}


/*top flex box system, holds the Kate Photography and second menu */
#top {
	display: flex;	
}

#top:first_child {
	width:100%;
}


/* personal made menu for all pages */
.menu {
	background-color: #c9ffc3;
	list-style-type: none;
	height: auto;
	flex: 1;
	object-fit: cover;	
	white-space: nowrap;
}


.menuItem {
	
	text-decoration:none;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom:20px;
}
.menuItem:hover {
	background-color: #f0f8ff;
}

.menuItem a {
	color: #1c8650;
	font-size: 30px;
	display: inline-block;
}


.footer {
	color: #888888;
	background-color: #FFFFFF; /*change later*/
	list-style-type: none;
	float: center;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}


.footerItem a {
	color: #a66da0;
	margin: 10px;
	margin-right: 70px;
	margin-bottom: 40px;
	padding-bottom: 20;
	font-size: 30px;	
}

.footerItem a:hover {
	color: #3333DF
}


#intro {
	display:flex;
}

#intro h1 {
	text-align: center;
	font: 1.8em "Arial", sans-serif;
	color: #222222;
	margin-top: 50px;
}

#intro p {
	text-align: center;
	font: 1.5em "Arial", sans-serif;
	color: #222222;
}

#intro:first-child {
	justify-content: center;
	align-items:center;
}

#intro div {
	flex:flex-end;
	margin-left: 10px;
}


/*makes image size adjust to screen size*/
img {
	width: 100%;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}



/*more specific ids and classes*/
#portfolio {
	font-size:70px;
	margin:30px;
	text-align: center;
}

#aboutHead {
	font-size: xxx-large;
	margin: 40px;
}

#aboutParagraph {
	font-size: 25px;
	margin: 20px;
	text-align: center;
}

#email {
	font-size: 20px;
	margin: 20px;
	text-align: center;
}

#reviewsTitle {
	font-size: xxx-large;
	margin: 40px;
	text-align: center;
}

/* class for reviews */
.review {
	font-size: x-large;
	margin: 40px;
	text-align: center;
}

